include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
include ../../blocks/room-details-images/room-details-images.pug
include ../../blocks/details/details.pug
include ../../blocks/booking-form/booking-form.pug
include ../../blocks/chart/chart.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Toxin
    
  body
    .room-details
      .room-details-container
        +header({logged: false})
        +room-details-images()
        .container
          .room-details__content
            .room-details__details
              .room-details__details-title Сведения о номере
              +details({
                title: "Комфорт", 
                name: "comfort", 
                image: 'insert_emoticon',
              })
              +details({
                title: "Удобства", 
                name: "convenience", 
                image: "location_city",
              })
              +details({
                title: "Уют", 
                name: "cosiness", 
                image: "whatshot",
              })
            .room-details__vote
              .room-details__vote-title Впечатления от номера
              .room-details__vote-content
                +chart()
            .room-details__booking
              +booking-form()
            .room-details__reviews
            .room-details__rules
            .room-details__cancel
        +footer()
