.room-details-container {
  max-width: $container-width;
  margin: 0 auto;
  position: relative;
}

.room-details {
  &__content {
    display: grid;
    margin-top: 70px;
  }
  &__details {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  &__details-title {
    @include type-h2;
    margin-bottom: 20px;
  }
  &__vote-title {
    @include type-h2;
    margin-bottom: 20px;
  }
  &__vote {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  &__booking {
    grid-row: 1/4;
    grid-column: 3/4;
  }
}
