@import "../../less/variables";
@import "../../less/mixins/types";
@import "../../less/mixins/marks";
@import "../../less/mixins/inputs";
@import "../../less/mixins/form-container";
@import "../../blocks/header/header";
@import "../../blocks/room-details-images/room-details-images";
@import "../../blocks/details/details";
@import "../../blocks/booking-form/booking-form";
@import "../../blocks/chart/chart";
@import "../../blocks/review/review";
@import "../../blocks/rules-list/rules-list";
@import "../../blocks/footer/footer";

.room-details-container {
  max-width: $container-width;
  margin: 0 auto;
  position: relative;
  &_shadow {
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }
}

.room-details {
  &__content {
    display: grid;
    grid-template-columns: 0.84fr 1fr 1fr;
    padding: 70px 0;
    row-gap: 30px;
    column-gap: 70px;
  }
  &__details {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  &__details-title {
    @include type-h2;
    margin-bottom: 20px;
  }
  &__vote-title {
    @include type-h2;
    margin-bottom: 20px;
  }
  &__vote {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  &__booking {
    grid-row: 1/4;
    grid-column: 3/4;
  }
  &__reviews {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  &__reviews-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__reviews-title {
    @include type-h2;
  }
  &__reviews-title-counter {
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 400;
    color: $color-dark-50;
  }
  &__rules-title,
  &__cancel-title {
    grid-row: 3/4;
    grid-column: 1/2;
    @include type-h2;
    margin-left: 20px;
  }
  &__cancel-title {
    grid-column: 2/3;
    margin: 0;
  }
  &__rules-text,
  &__cancel-text {
    @include type-body;
    font-weight: 400;
    margin-top: 20px;
  }
  &__rules-text {
    max-width: 90%;
  }
  &__cancel-text {
    max-width: 98%;
  }
}
