include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/room-details-images/room-details-images
include ../../blocks/details/details
include ../../blocks/booking-form/booking-form
include ../../blocks/chart/chart
include ../../blocks/review/review
include ../../blocks/rules-list/rules-list

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Toxin
    
  body
    .room-details
      .room-details-container
        +header({logged: false})
      .room-details-container.room-details-container_shadow
        +room-details-images()
        .container
          .room-details__content
            .room-details__details
              .room-details__details-title Сведения о номере
              +details({
                title: "Комфорт", 
                name: "comfort", 
                image: 'insert_emoticon',
              })
              +details({
                title: "Удобства", 
                name: "convenience", 
                image: "location_city",
              })
              +details({
                title: "Уют", 
                name: "cosiness", 
                image: "whatshot",
              })
            .room-details__vote
              .room-details__vote-title Впечатления от номера
              .room-details__vote-content
                +chart()
            .room-details__booking
              +booking-form()
            .room-details__reviews
              .room-details__reviews-title-wrapper
                .room-details__reviews-title Отзывы посетителей номера
                .room-details__reviews-title-counter.js-room-details__reviews-title-counter
              +review()
              +review()
            .room-details__rules
              .room-details__rules-title Правила
              .room-details__rules-text
                +rules()
            .room-details__cancel
              .room-details__cancel-title Отмена
              .room-details__cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      .room-details-container
        +footer()
