include ../../blocks/header/header
include ../../blocks/landing-image/landing-image
include ../../blocks/check-in-form/check-in-form
include ../../blocks/footer/footer

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Toxin
    
  body
    .landing-page
      .landing-page-container
        .landing-page__header
          +header({logged: false})
        .container
          .landing-page__form
            +check-in-form("search-room.html")
        +landing-image()
        +footer()
