include ../../blocks/header/header.pug
include ../../blocks/landing-image/landing-image.pug
include ../../blocks/check-in-form/check-in-form.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Toxin
    
  body
    .container
      +header({logged: false})
      +landing-image()
      +check-in-form()
