.landing-page {
  &__header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  &__form {
    position: absolute;
    top: 140px;
  }
}

.landing-page-container {
  max-width: $container-width;
  margin: 0 auto;
}
