@import '../../less/variables';
@import '../../less/mixins/types';
@import '../../less/mixins/marks';
@import '../../less/mixins/inputs';
@import '../../less/mixins/form-container';
@import '../../blocks/header/header';
@import '../../blocks/landing-image/landing-image';
@import '../../blocks/check-in-form/check-in-form';
@import '../../blocks/footer/footer';

.landing-page-container {
  max-width: $container-width;
  margin: 0 auto;
  position: relative;
}

.landing-page {
  &__header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 100;
  }
  &__form {
    position: absolute;
    top: 140px;
  }
}

@import '../../less/media.scss';
