{
  "extends": [
    "airbnb"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "classes": true
    }
  },
  "globals": {
    "window": true,
    "document": true,
    "console": true
  },
  "env": {
    "es6": true,
    "commonjs": true,
    "browser": true,
    "jquery": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "off",
    "semi": [
      "warn",
      "always"
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "indent": [
      "warn",
      2
    ],
    "linebreak-style": 0
  }
}