//- 
  Принимает: 
  dataTotalCount {num} - количество страниц
  dataTake {num} - количество комнат на странице
  Вызов:
  +pagination({
    dataTotalCount: 150,
    dataTake: 10
  })

mixin pagination(options)

  div(class="pagination" 
      data-total-count=options.dataTotalCount
      data-take=options.dataTake)