@import "../../libs/jquery.pajinatify/jquery.pajinatify.scss";

.pajinatify {
  justify-content: flex-start;
  &__current {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    color: #fff;
  }
  & > span {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 22px;
    font-size: 12px;
    line-height: 14.6px;
    color: $color-dark-50;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .arrow__prev {
    background-color: $color-third;
  }
  .arrow__next {
    background-color: $color-third;
  }
}
.pajinatify > span.pajinatify__arrow.arrow__next {
  &:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background: no-repeat url("blocks/pagination/arrow_forward.svg");
    margin: 0;
    padding: 0;
    border: none;
  }
}

.pajinatify > span.pajinatify__arrow.arrow__prev {
  &:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 18px;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background: no-repeat url("blocks/pagination/arrow_back.svg");
    margin: 0;
    padding: 0;
    border: none;
  }
}
