include ../../blocks/header/header.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Toxin
    
  body
    .container
      +header({logged: true})
