@import "../../less/variables";
@import "../../less/mixins/types";
@import "../../less/mixins/marks";
@import "../../less/mixins/inputs";
@import "../../less/mixins/form-container";
@import "../../blocks/header/header";
@import "../../blocks/dropdown-date/dropdown-date";
@import "../../blocks/dropdown/dropdown";
@import "../../blocks/range-slider/range-slider";
@import "../../blocks/checkboxList/checkboxList";
@import "../../blocks/rooms-catalog/rooms-catalog";
@import "../../blocks/footer/footer";

.search-room-container {
  max-width: $container-width;
  margin: 0 auto;
  .container {
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }
}

.search-room-content {
  display: flex;
  padding-top: 30px;
  padding-bottom: 70px;
}

.search-room {
  &__filter {
    min-width: 266px;
  }
  &__filter > div:not(:first-child) {
    margin-top: 30px;
  }
  &__rooms {
    margin-left: 59px;
  }
  &__text {
    @include type-h1;
    margin-bottom: 20.5px;
  }
}
