include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
include ../../blocks/dropdown-date/dropdown-date.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/checkboxList/checkboxList.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Toxin
    
  body
    .search-room
      .search-room-container
        +header({logged: false})
        .container
          .search-room-content
            .search-room__filter
              +dropdown-date({
                fieldName: "даты пребывания в отеле", 
                type: "text", 
                placeholder: "ДД.ММ.ГГГГ",
              })
              +dropdown({
                fieldName: "ГОСТИ",
                dropdownName: "guests",
                defaultItems: [
                  {"name":"взрослые","value":"0", "max":"3","min":"0"},
                  {"name":"дети","value":"0","max":"3","min":"0"},
                  {"name":"младенцы","value":"0", "max":"3","min":"0"}
                ],
                defaultContent: "Сколько гостей",
                confirmPanel: true,
              })
              +range-slider()
              +checkbox({
                item: [
                  {content: "Mожно курить", name: "checkbox-house-rules"},
                  {content: "Mожно с питомцами", name: "checkbox-house-rules"},
                  {content: "Mожно пригласить гостей", extraContent: "(до 10 человек)", name: "checkbox-house-rules"}
                ],
                name: "ПРАВИЛА ДОМА",
              })
              +dropdown({
              fieldName: "УДОБСТВА НОМЕРА",
              dropdownName: "facilities",
              defaultItems: [
                {"name":"спальни","value":"2","max":"3","min":"1"},
                {"name":"кровати","value":"2","max":"3","min":"1"},
                {"name":"ванные комнаты","value":"0","max":"3","min":"0"}
              ],
              isMedium: true
            })
              +checkbox({
                item: [
                  {content: "Завтрак", name: "checkbox-extra-facilities"},
                  {content: "Письменный стол", name: "checkbox-extra-facilities"},
                  {content: "Стул для кормления", name: "checkbox-extra-facilities"},
                  {content: "Кроватка", name: "checkbox-extra-facilities"},
                  {content: "Телевизор", name: "checkbox-extra-facilities"},
                  {content: "Шампунь", name: "checkbox-extra-facilities"}
                ],
                isDropped: true,
                name: 'ДОПОЛНИТЕЛЬНЫЕ УДОБСТВА'
              })        
            .search-room__rooms
        +footer()