.search-room-container {
  max-width: $container-width;
  margin: 0 auto;
}

.search-room-content {
  display: flex;
}

.search-room {
  &__filter {
    margin-top: 100px;
    min-width: 266px;
  }
  &__filter > div:not(:first-child) {
    margin-top: 30px;
  }
  &__rooms {
    margin-top: 100px;
    margin-left: 59px;
  }
  &__text {
    @include type-h1;
    margin-bottom: 20.5px;
  }
}
