include ../dropdown-date/dropdown-date
include ../dropdown/dropdown
include ../room-short-info/room-short-info
include ../button/button

mixin booking-form()
  .booking-form 
    +roomShortInfo({})
    .booking-form__dates
      +dropdown-date({
          fieldName: "ПРИБЫТИЕ", 
          fieldNameDouble: "ВЫЕЗД",  
          type: "text", 
          placeholder: "ДД.ММ.ГГГГ",
          isSmall: true,
          isDouble: true
        })
    .booking-form__guests
      +dropdown({
        fieldName: "ГОСТИ",
        dropdownName: "guests",
        defaultItems: [
          {"name":"взрослые","value":"0", "max":"3","min":"0"},
          {"name":"дети","value":"0","max":"3","min":"0"},
          {"name":"младенцы","value":"0", "max":"3","min":"0"}
          ],
        defaultContent: "Сколько гостей",
        isLarge: true,
        confirmPanel: true
      })
    .booking-form__calc
    +simple-button({type: 'long',text: 'забронировать'})
