.booking-form {
  @include form-container;
  background-color: #fff;
  &__dates,
  &__guests {
    margin-top: 20px;
  }
  &__room-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__value-calc {
    margin-top: 20px;
    display: grid;
    grid-template-columns: min-content max-content auto;
    row-gap: 14px;
    @include type-body;
    line-height: initial;
    div:first-child {
      width: max-content;
    }
    &_days-calc {
      display: flex;
      justify-content: space-between;
    }
  }
  &__calc-total {
    margin-top: 30px;
    margin-bottom: 20px;
    @include type-h2;
    display: flex;
    justify-content: space-between;
  }
  &__value-sum {
    justify-self: end;
  }
  &__info {
    color: $color-dark-25;
    width: 20px;
    height: 20px;
    border: 2px solid $color-dark-25;
    border-radius: 20px;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    &::after {
      content: "i";
      position: absolute;
      line-height: initial;
      font-weight: 700;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__calc-line {
    border-bottom: 1px dotted $color-dark-25;
    flex: 1 1 auto;
    height: 1.9rem;
  }
}
