//-
    Вызов:
      +addAirDatePicker()

    вызов date-picker.js: - создает экземпляр AirDatepicker (без dropdown field)
    import createAirDatePicker from '../date-picker/date-picker';
    createAirDatePicker(document.querySelector('.js-date-picker'));

mixin addAirDatePicker ()
  .date-picker.js-date-picker.date-picker_hide