@import 'air-datepicker/air-datepicker.css';

.date-picker {
  width: 100%;
  &_hide {
    display: none;
  }
  position: absolute;
  .air-datepicker {
    position: absolute;
    width: 99.6%;
  }
  &_hide {
    display: none;
  }
}

.air-datepicker {
  margin-top: 2px;
  --adp-background-color-selected-other-month-focused: #bc9cff;
}

.air-datepicker-cell {
  font-size: 12px;
  line-height: 15px;
  color: $color-dark-50;
}

.air-datepicker-nav {
  padding: 0 16px;
}

.air-datepicker-cell.-day-.-selected-.-range-from-,
.air-datepicker-cell.-day-.-selected-.-range-to- {
  position: relative;
  background-color: $color-second;
  border-radius: 20px;
  font-weight: 700;
}

.air-datepicker-cell {
  &.-selected-.-range-from-,
  &.-focus-.-range-from-,
  &.-selected-.-range-to-,
  &.-focus-.-range-to- {
    &::after {
      content: '';
      width: 50%;
      height: 100%;
      position: absolute;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      opacity: 0.25;
      z-index: -10;
      right: 0;
    }
  }
  &.-selected-.-range-to-,
  &.-focus-.-range-to- {
    &::after {
      left: 0;
    }
  }
}

.air-datepicker-cell.-in-range- {
  background: none;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    opacity: 0.25;
    position: absolute;
  }
}

.air-datepicker-cell.-selected-.-range-from-.datepicker-inrange-background-none {
  &::after {
    content: '';
    width: 50%;
    height: 100%;
    background: none;
    opacity: 0.25;
    position: absolute;
    right: 0;
  }
}

.air-datepicker--content {
  --adp-day-cell-height: 40px;
  padding: 26px 20px 0 20px;
}

.air-datepicker--buttons {
  border: none;
  padding: 0px 20px;
}

.air-datepicker-button {
  color: $color-second;
  height: 55px;
  cursor: inherit;
  &:hover {
    background: none;
  }
}

.air-datepicker-button span {
  justify-content: flex-start;
  cursor: pointer;
  @include type-h3;
  color: $color-second;
}

.custom-button-classname span {
  justify-content: flex-end;
}

.air-datepicker-body--day-names {
  height: 40px;
  margin: 0;
}

.air-datepicker-body--day-name {
  @include type-h3;
  color: $color-second;
  text-transform: none;
}

.air-datepicker-nav--title,
.air-datepicker-nav--title i {
  @include type-h2;
}

.air-datepicker-nav {
  border-bottom: none;
}

.air-datepicker--navigation {
  padding-top: 12px;
}

.air-datepicker-cell.-focus- {
  border-radius: 20px;
  border: none;
  background: $color-second;
}

.air-datepicker-cell.-current- {
  border-radius: 20px;
  background-color: $color-third;
  color: #fff;
  font-weight: 700;
  z-index: 1;
}

.air-datepicker-cell.-current-.-in-range- {
  color: #fff;
}

.air-datepicker-cell {
  z-index: inherit;
}

.air-datepicker-cell.-focus-.-in-range- {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.air-datepicker-nav--action {
  position: relative;
}

.air-datepicker-nav--action path {
  fill: none;
  stroke: none;
  stroke-width: inherit;
}

.air-datepicker-nav--action svg {
  display: none;
}

.air-datepicker-nav--action[data-action='prev']::before,
.air-datepicker-nav--action[data-action='next']::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.air-datepicker-nav--action[data-action='prev']::before {
  background: no-repeat url('/blocks/date-picker/arrow_back_black.svg');
}

.air-datepicker-nav--action[data-action='next']::before {
  background: no-repeat url('/blocks/date-picker/arrow_forward_black.svg');
}

.dropdown-date__date-picker-double .air-datepicker-body--cells.-days- {
  height: auto;
}

.air-datepicker-cell.-selected-.-current- {
  background: $color-third;
}

.dropdown-date__date-picker-single .air-datepicker--content {
  --adp-day-cell-height: inherit;
}

.dropdown-date__date-picker-single .air-datepicker-body--cells.-days- {
  height: auto;
}
