.toggle-button {
  position: relative;
  &__custom {
    position: absolute;
    opacity: 0;
    z-index: 1;
    height: 21px;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    min-width: 40px;
    &:checked + label .toggle-button {
      &__icon-out {
        position: relative;
        height: 21px;
        border: 1px solid $color-second;
        border-radius: 10px;
        margin-right: 1rem;
        min-width: 40px;
      }
      &__icon-in {
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 10px;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        top: 50%;
        border-radius: 10px;
        left: 60%;
        transform: translateY(-50%);
      }
    }
  }
  &__label {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__icon-out {
    height: 21px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    margin-right: 1rem;
    position: relative;
    min-width: 40px;
  }
  &__icon-in {
    position: absolute;
    width: 12px;
    height: 12px;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
  &__content {
    font-weight: normal;
    font-size: $size-body;
    color: $color-dark-50;
  }
}
