@import '../button-like/button-like';

.review {
  margin-top: 22px;
  &__person {
    display: flex;
    align-content: center;
  }
  &__image-container {
    width: 44px;
    height: 44px;
    position: relative;
  }
  &__image-ring {
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    box-shadow: 0px 10px 20px rgb(31 32 65 / 10%);
    border-radius: 24px;
    position: absolute;
  }
  &__image {
    max-width: 41px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
  }
  &__text-content {
    margin-left: 10px;
    @include type-body;
  }
  &__name {
    font-weight: 700;
  }
  &__content {
    display: flex;
    margin-top: 10px;
  }
  &__likes {
    min-width: 44px;
    display: flex;
    justify-content: center;
  }
  &__text {
    margin-left: 10px;
    @include type-body;
    font-weight: 400;
  }
}
