include ../button-like/button-like.pug

mixin review()
  .review.js-review
    .review__person
      .review__image-container
        .review__image-ring
        img(class="review__image js-review__image" alt="image" loading="lazy" width="48")
      .review__text-content
        .review__name.js-review__name
        .review__date.js-review__date
    .review__content
      .review__likes.js-review__likes
        +like-button({
            isLiked: false,
          })
      .review__text.js-review__text