.chart {
  display: flex;
  align-items: flex-end;
  &__diagram {
    width: 120px;
    height: 120px;
    position: relative;
  }
  svg {
    width: 100%;
    height: 100%;
    stroke-width: 4;
    circle {
      fill: transparent;
    }
  }
  &__inner-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    color: $color-second;
  }
  &__number {
    @include type-h1;
    color: inherit;
  }
  &__text {
    @include type-h3;
    color: inherit;
    margin-top: 6px;
  }
  &__legend {
    @include type-h3;
    font-weight: 400;
    color: $color-dark-75;
    text-transform: none;
    margin-left: 30px;
    ul {
      list-style-type: none;
    }
    .chart__legend-list {
      display: flex;
      align-items: center;
      margin-top: 10px;
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 20px;
        margin-right: 5px;
        display: inline-block;
      }
      &_orange::before {
        background-image: linear-gradient(#ffe39c, #ffba9c);
      }
      &_green::before {
        background-image: linear-gradient(#6fcf97, #66d2ea);
      }
      &_purple::before {
        background-image: linear-gradient(#bc9cff, #8ba4f9);
      }
      &_black::before {
        background-image: linear-gradient(#909090, #3d4975);
      }
    }
  }
}
