.room-details-images {
  display: grid;
  grid-template-columns: 2.128fr 1fr;
  grid-template-rows: 1fr 1fr;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  position: relative;
  &__main {
    background-color: green;
    grid-column: 1/2;
    grid-row: 1/3;
  }
  &__second {
    background-color: red;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  &__third {
    background-color: blue;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
