@media (max-width: 1365px) {
  .footer {
    nav {
      margin: 0;
    }
  }
}
@media (max-width: 1199px) {
  .header {
    &__nav-wrapper {
      display: none;
    }
    label {
      display: flex;
    }
  }
  .footer {
    nav:first-of-type,
    nav:last-of-type {
      margin: 0;
    }
    &__subscr {
      display: none;
    }
    &__logo {
      display: none;
    }
    &__container {
      padding-top: 40px;
    }
    &__wrapper {
      padding-bottom: 40px;
    }
  }
  .landing-image {
    max-height: 682px;
  }
  .search-room,
  .room-details {
    .container {
      padding: 0 9.72%;
    }
  }
  .room-details {
    &__content {
      grid-template-columns: 1fr 1fr;
    }
    &__vote {
      grid-row: 2/3;
      grid-column: 1/2;
    }
    &__booking {
      grid-row: 1/3;
      grid-column: 2/3;
    }
    &__reviews {
      grid-row: 3/4;
      grid-column: 1/3;
    }
  }
}

@media (max-width: 1023px) {
  .landing-page__form {
    top: 90px;
  }
  .landing-image {
    img {
      max-height: 530px;
    }
    &__text {
      display: none;
    }
  }
  .room-details {
    &__booking {
      grid-row: 1/2;
      grid-column: 1/3;
      justify-self: center;
    }
    &__details {
      grid-row: 2/3;
      grid-column: 2/3;
    }
    &__content {
      padding-top: 30px;
    }
  }
}

@media (max-width: 767px) {
  .footer-mobile {
    display: block;
    &__container {
      padding: 30px;
    }
  }
  .footer {
    display: none;
  }
  .landing-image img {
    max-height: 500px;
  }
  .search-room {
    .search-room-content {
      flex-wrap: wrap;
    }
    &__text {
      font-size: 1.3rem;
      text-align: center;
    }
    &__rooms {
      margin-left: 0;
      margin-top: 20px;
    }
    &__filter {
      display: none;
      margin-top: 20px;
    }
    &__filter-label {
      display: block;
    }
  }
  .room-details {
    &__content {
      grid-template-columns: 1fr;
    }
    &__vote {
      grid-row: 2/3;
      grid-column: 1/2;
    }
    &__booking {
      grid-row: 1/2;
      grid-column: 1/2;
    }
    &__reviews {
      grid-row: 4/5;
      grid-column: 1/2;
    }
    &__details {
      grid-row: 3/4;
      grid-column: 1/2;
    }
  }
}

@media (max-width: 639px) {
  .landing-page__form {
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
  }
  .room-details {
    .container {
      padding: 0 1.72%;
    }
  }
  .booking-form {
    padding: 15px 10px 15px 10px;
  }
}

@media (max-width: 360px) {
  .check-in-form {
    padding: 30px;
  }
  .simple-button_long {
    min-width: 300px;
  }
}
