@media (max-width: 1365px) {
}

@media (max-width: 1199px) {
  .header__wrapper {
    padding: 1.04% 5%;
  }
}

@media (max-width: 1023px) {
  .header__nav-wrapper {
    display: none;
  }
  .header label {
    display: flex;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 639px) {
}

@media (max-width: 360px) {
}
