$color-dark-100: #1f2041;
$color-dark-75: $color-dark-100 + #{bf};
$color-dark-50: $color-dark-100 + #{80};
$color-dark-25: $color-dark-100 + #{40};
$color-dark-5: $color-dark-100 + #{0d};
$color-second: #bc9cff;
$color-third: #6fcf97;

$container-width: 1440px;
