//- 
  Принимает:
  room {string} - номер комнаты
  Вызов:
    +card({room: '840'})
include ../swiper/swiper
include ../rom-short-info/rom-short-info

mixin card (options)
  div(class = "room-card js-room-card" data-room = options.room)
    .room-card__image
      +swiper()
    .room-card__info-wrapper
      .room-card__info
        +roomShortInfo()
      .room-card__divider
      .room-card__rate-wrapper.js-room-card__rate-wrapper
        .room-card__rate-info.js-room-card__rate-info