@import '../swiper/swiper';
@import '../button-rate/button-rate';
@import '../room-short-info/room-short-info';

.room-card {
  width: 270px;
  background-color: #fff;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  margin-bottom: 20.5px;
  &__info-wrapper {
    padding: 16px 17px 19px 20px;
  }
  &__divider {
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0.1;
    margin-top: 12px;
  }
  &__rate-wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__rate-info {
    @include type-body;
    line-height: 1.125rem;
    color: $color-dark-50;
    font-weight: 700;
  }
  &__rate-info span {
    font-weight: 500;
  }

  .room-short-info__num {
    line-height: initial;
  }

  .room-short-info__room {
    line-height: initial;
    font-size: 1.1875rem;
  }
  .room-short-info__price {
    line-height: initial;
  }
  .room-short-info__text {
    line-height: initial;
    font-weight: 500;
  }
}
