@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --swiper-theme-color: white;
}

.swiper-button-next:after, .swiper-button-prev:after {
  content: "";
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
}

.swiper-button-next:after {
  border-bottom: none;
  border-left: none;
  transform: rotate(45deg);
}

.swiper-button-prev:after {
  border-top: none;
  border-right: none;
  transform: rotate(45deg);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-pagination-bullet {
  border: 1.5px solid #fff;
  opacity: 1;
  background: none;
  box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
}

.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 3.75px 0 0;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-prev, .swiper-button-next {
  z-index: 1;
}

.swiper-button-prev::before, .swiper-button-next::before {
  content: "";
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  top: -125%;
  margin: 0;
  width: 42px;
  position: absolute;
  height: 344%;
}

.swiper-button-prev::before {
  right: -18%;
}

.swiper-button-next::before {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  left: -18%;
}