include ../pagination/pagination.pug

mixin rooms-catalog()
  .rooms-catalog
    .rooms-catalog__rooms.js-rooms-catalog__rooms
    .rooms-catalog__pagination
      +pagination({
        dataTotalCount: 180,
        dataTake: 12
      })
    .rooms-catalog__pages-counter-wrapper
      .rooms-catalog__pages-counter <span class="js-rooms-catalog__rooms-on-page"> 1 – 12 </span>из<span class="js-rooms-catalog__pages-total"> 100+ </span>вариантов аренды