@import '../pagination/pagination';
@import '../card/card';

.rooms-catalog {
  &__rooms {
    min-height: 1133.3px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    row-gap: 2px;
  }
  &__pagination {
    display: flex;
    justify-content: center;
  }
  &__pages-counter-wrapper {
    display: flex;
    justify-content: center;
  }
  &__pages-counter {
    @include type-body;
    font-weight: 400;
    margin-top: 7.56px;
  }
}
