include ../pagination/pagination.pug
//- include ../card/card.pug

mixin rooms-catalog()
  .rooms-catalog
    .rooms-catalog__rooms
    .rooms-catalog__pagination
      +pagination({
        dataTotalCount: 180,
        dataTake: 12
      })