include ../pagination/pagination.pug

mixin rooms-catalog()
  .rooms-catalog
    .rooms-catalog__rooms.js-rooms-catalog__rooms
    .rooms-catalog__pagination
      +pagination({
        dataTotalCount: 180,
        dataTake: 12
      })