.rooms-catalog {
  &__rooms {
    width: 840px;
    min-height: 1164.3px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20.5px 12px;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 40.5px;
  }
  &__pages-counter-wrapper {
    display: flex;
    justify-content: center;
  }
  &__pages-counter {
    @include type-body;
    font-weight: 400;
    margin-top: 10.56px;
  }
}
