include ../pagination/pagination.pug
include ../card/card.pug

mixin rooms-catalog()
  .rooms-catalog
    .rooms-catalog__rooms
      +card({room: '840'})
    +pagination({
      dataTotalCount: 180,
      dataTake: 12
    })