@import "nouislider/dist/nouislider.css";

.range-slider {
  @include input-medium;
  @include type-h3;
  font-weight: 400;
  color: $color-dark-50;
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    font-weight: 700;
    color: $color-dark-100;
  }
  &__values {
    display: flex;
    justify-content: space-between;
  }
  &__hyphen {
    margin: 0 5px 0 5px;
  }
  &__value-max {
    width: 50px;
  }
  &__slider {
    margin-top: 23px;
  }
  &__description {
    font-weight: 400;
    margin-top: 13px;
    text-transform: none;
  }
}

.noUi-connect {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  transform: translate(33.3333%, 0px) scale(0.276515, 1);
  height: 6px;
}

.noUi-connects {
  top: -1px;
  height: 6px;
}

.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 14px;
  border: 2px solid white;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.noUi-handle {
  border: none;
  border-radius: 50%;
  box-shadow: none;
}

.noUi-handle:after,
.noUi-handle:before {
  content: none;
}

.noUi-horizontal {
  height: 6px;
  @include input_medium;
}

.noUi-horizontal .noUi-handle {
  right: 0;
  top: -5px;
}
