mixin range-slider()
  .range-slider
    .range-slider__content
      .range-slider__text диапазон цены
      .range-slider__values
        .range-slider__value-min
        .range-slider__hyphen -
        .range-slider__value-max
    .range-slider__slider
    .range-slider__description Стоимость за сутки пребывания в номере