.rate-buttons {
  display: flex;

  &__item {
    position: relative;
    &_hide {
      display: none;
    }
    &_uncolored {
      width: 20px;
      height: 19px;
      background: no-repeat url("blocks/button-rate/star_border.svg");
      margin-right: 4px;
    }

    &_colored {
      width: 20px;
      height: 19px;
      background: no-repeat url("blocks/button-rate/star.svg");
      margin-right: 4px;
    }
  }
}