@mixin input {
  width: 100%;
  height: 44px;
  border: 1px solid $color-dark-25;
  border-radius: 4px;
  padding-left: 15px;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: $color-dark-75;
  background-color: rgba(0, 0, 0, 0);
  display: block;
}

@mixin input-hover {
  border-color: $color-dark-50;
}

@mixin input-placeholder {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: $color-dark-25;
}

@mixin input-focus {
  border-color: $color-dark-50;
}

@mixin input-small {
  width: 150px;
}

@mixin input-medium {
  width: 266px;
}

@mixin input-large {
  width: 320px;
}

