@mixin dropdown-mark {
  border: none;
  position: absolute;
  width: 9px;
  height: 9px;
  border-left: 2px solid #1f204180;
  border-bottom: 2px solid #1f204180;
  bottom: 50%;
  left: 50%;
  transform: rotate(-45deg) translate(-50%);
  cursor: pointer;
  background-color: initial;
}

@mixin checkbox-mark-out {
  position: relative;
  min-width: 20px;
  height: 20px;
  border: 1px solid $color-second;
  border-radius: 4px;
  margin-right: 1rem;
}

@mixin checkbox-mark-in {
  position: absolute;
  width: 8px;
  height: 6px;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(180deg, $color-second 0%, #8ba4f9 100%);
  border-image-slice: 1;
  top: 23%;
  left: 57%;
  transform: rotate(-45deg) translate(-50%, -50%);
}