$size-root: 16px;
$size-multiplier: calc($size-root/1rem);

$size-h1: calc(24px / $size-multiplier);
$size-h1-line-height: calc(29px / $size-multiplier);
$size-h2: calc(19px / $size-multiplier);
$size-h2-line-height: calc(23px / $size-multiplier);
$size-h3: calc(12px / $size-multiplier);
$size-h3-line-height: calc(14px / $size-multiplier);
$size-body: calc(14px / $size-multiplier);
$size-body-line-height: calc(24px / $size-multiplier);
$type-main-color: $color-dark-100;
$type-second-color: $color-dark-75;

@mixin type-h1 {
  font-size: $size-h1;
  line-height: $size-h1-line-height;
  color: $type-main-color;
  font-weight: 700;
}

@mixin type-h2 {
  font-size: $size-h2;
  line-height: $size-h2-line-height;
  color: $type-main-color;
  font-weight: 700;
}

@mixin type-h3 {
  font-size: $size-h3;
  line-height: $size-h3-line-height;
  color: $type-main-color;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin type-body {
  font-size: $size-body;
  line-height: $size-body-line-height;
  color: $type-second-color;
  font-weight: normal;
}
