@import '../date-picker/date-picker';

.dropdown-date {
  position: relative;

  &__text {
    @include type-h3;
    margin-bottom: 5px;
  }
  &__check-wrapper {
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  &__check-mark {
    @include dropdown-mark;
  }
  &_small {
    @include input-small;
  }
  &_medium {
    @include input-medium;
  }
  &_large {
    @include input-large;
  }
  &__input {
    @include input;
    &_small {
      @include input-small;
    }
    &_medium {
      @include input-medium;
    }
    &_large {
      @include input-large;
    }
    &:hover {
      @include input-hover;
    }
    &::placeholder {
      @include input-placeholder;
    }
    &:focus {
      @include input-focus;
    }
  }
  &__double-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include input-large;
  }
  &__double {
    position: relative;
    &:hover input {
      @include input-hover;
    }
  }
  &__single {
    position: relative;
    width: 100%;
    &:hover input {
      @include input-hover;
    }
  }
  &__date-picker-double {
    @include input-large;
  }
  &__date-picker-single {
    @include input-medium;
  }
}

.dropdown-date__date-picker-single .air-datepicker--content {
  --adp-day-cell-height: 20%;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-date__date-picker-single .air-datepicker-body--cells.-days- {
  height: 156px;
}

.dropdown-date__date-picker-double .air-datepicker-body--cells.-days- {
  height: 194px;
}
