@import "./libs/fonts.css";
@import "./less/variables.scss";
@import "./less/mixins/types.scss";
@import "./less/mixins/marks.scss";
@import "./less/mixins/inputs.scss";
@import "./less/mixins/form-container.scss";
@import "./less/style.scss";

* {
  font-family: "Montserrat", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  color: #1f2041;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 141px 0 140px;
  position: relative;
}
