@import "./less/style";
@import "./pages/landing-page/landing-page";
@import "./pages/search-room/search-room";

* {
  font-family: "Montserrat", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #1f2041;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 141px 0 140px;
}
