@import '../button/button';
@import '../logo-text/logo-text';
.header {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 100;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $container-width;
    padding: 1.04% 9.72%;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    position: relative;
    z-index: 100;
  }
  &__nav-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  &__nav {
    display: flex;
    align-items: center;
    & a {
      position: relative;
      @include type-body;
      color: $color-dark-50;
      text-decoration: none;
    }
    &_agreements,
    &_services {
      margin-right: 22px;
    }
    &_services {
      width: 4.5rem;
    }
    &_agreements {
      width: 7.125rem;
    }
    &_about a {
      width: 3.875rem;
    }
    &_vacancies a {
      width: 5.75rem;
    }
    &_news a {
      width: 5.125rem;
    }
    &_services a {
      margin-right: 14px;
    }
    &_agreements a {
      margin-right: 14px;
    }
  }
  &__nav-drop {
    @include dropdown-mark;
    transform: rotate(-45deg) translate(-50%, -50%);
    position: relative;
    left: 0;
    bottom: 1px;
  }
  &__nav:hover a {
    font-weight: 700;
    color: $color-dark-75;
    cursor: pointer;
  }
  &__nav:hover button {
    border-color: $color-dark-75;
  }
  &__divider {
    width: 1px;
    height: 30px;
    background: rgba(31, 32, 65, 0.1);
    margin-right: 20px;
  }
  &__user-name {
    @include type-body;
    color: $color-dark-50;
  }
  &__logged,
  &__entry {
    display: flex;
    align-items: center;
  }
  &__button-reg {
    margin-left: 20px;
  }
  label {
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    display: none;
  }
  input {
    display: none;
  }
}

.header-mobile {
  display: none;
  &__icon {
    width: 40px;
    height: 4px;
    background-color: $color-dark-75;
    position: relative;
    transition: 0.4s;
    &::after,
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background-color: $color-dark-75;
      top: 8px;
      transition: 0.4s;
    }
    &::before {
      top: -8px;
    }
  }
  &__menu {
    width: 100%;
    height: 0;
    background-color: white;
    position: absolute;
    right: 0;
    z-index: 12;
    transition: height 0.5s;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    transition-delay: 0.2s;
    padding: 0 9.72%;
  }
  &__menu-wrapper {
    transition: margin-top 0.5s, opacity 0.5s;
    margin-top: -400px;
    transition-delay: 0.2s;
    opacity: 0;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    & a {
      position: relative;
      @include type-body;
      color: $color-dark-50;
      text-decoration: none;
      font-size: 1.8rem;
      line-height: 2.5rem;
    }
  }
  &__nav-drop {
    @include dropdown-mark;
    transform: rotate(-45deg) translate(-50%, -50%);
    position: relative;
    left: 0;
    bottom: 1px;
    margin-left: 15px;
  }
  &__nav a:hover,
  &__button-login:hover,
  &__button-reg:hover {
    font-weight: 700;
    color: $color-dark-75;
  }
  &__entry {
    margin-top: 30px;
  }
  &__button-login,
  &__button-reg {
    @include type-body;
    color: $color-dark-50;
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: $color-dark-75;
  }
}

.header input:checked ~ {
  .header-mobile__menu {
    height: 100vh;
    overflow: hidden;
    transition-delay: 0s;
  }
  .header-mobile__menu > .header-mobile__menu-wrapper {
    margin-top: 0;
    opacity: 1;
    transition-delay: 0s;
  }
  .header__wrapper > label .header-mobile__icon {
    background: transparent;
    &::before {
      top: 0;
      transform: rotate(45deg);
    }
    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
