//- 
  Принимает:
    logged {bool} - true - отображается имя пользователя, по умолчанию - false
    name {string} - имя пользователя если logged = true

    Вызов:
     +header({logged: true, name: "Юлий Цезарь"})

include ../button/button
include ../logo-text/logo-text

mixin header(options)
  header.header
    .header__wrapper
      +logo-text()
      nav.header__nav-wrapper
        div(class="header__nav header__nav_about")
          a(href="/mock-address/change-me") О нас
        div(class="header__nav header__nav_services header__nav_nohover")
          a(href="/mock-address/change-me") Услуги
          button(class="header__nav-drop")
        div(class="header__nav header__nav_vacancies")
          a(href="/mock-address/change-me") Вакансии
        div(class="header__nav header__nav_news")
          a(href="/mock-address/change-me") Новости
        div(class="header__nav header__nav_agreements header__nav_nohover")
          a(href="/mock-address/change-me") Соглашения
          button(class="header__nav-drop")
        if options.logged
          .header__logged
            .header__divider
            .header__user-name= options.name
        else
          .header__entry.js-header__entry
            .header__button-login.js-header__button-login
              +simple-button({type: 'uncolored-header',text: 'войти'})
            .header__button-reg.js-header__button-reg
              +simple-button({type: 'long-header',text: 'зарегистрироваться'})