.header {
  position: fixed;
  left: 0;
  width: 100%;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $container-width;
    padding: 15px 140px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }
  &__nav-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  &__nav {
    position: relative;
    @include type-body;
    color: $color-dark-50;
    text-decoration: none;
    &_drop {
      &::after {
        content: "";
        @include dropdown-mark;
        left: inherit;
        right: -20px;
        width: 6px;
        height: 6px;
      }
    }
    &_about,
    &_vacancies,
    &_news {
      margin-right: 20px;
      white-space: nowrap;
    }
    &_services,
    &_agreements {
      margin-right: 45px;
    }
  }
  &__nav:first-child {
    color: $color-dark-75;
    font-weight: 700;
  }
  &__nav button {
    margin-left: 20px;
  }
  &__divider {
    width: 1px;
    height: 30px;
    left: 1179px;
    top: 270px;
    background: rgba(31, 32, 65, 0.1);
    margin-right: 20px;
  }
  &__user-name {
    @include type-body;
    color: $color-dark-50;
  }
  &__logged,
  &__no-logged {
    display: flex;
    align-items: center;
  }
  &__no-logged button:first-child {
    margin-right: 20px;
  }
}
