.landing-image-container {
  max-width: 100%;
  z-index: -1;
  position: relative;
}

.landing-image {
  width: 100%;
  max-height: 898px;
}

.landing-image img {
  display: block;
  width: 100%;
  height: auto;
}

.landing-image__text {
  position: absolute;
  width: 297px;
  right: 134px;
  bottom: 18px;
  @include type-body;
  color: $color-dark-75;
  text-align: right;
}
